.navbar {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 3rem;
    background-color: var(--bg);
    color: var(--text);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.navbar-logo {
    display: flex;
    align-items: center;
    font-size: 1.1rem;
    font-weight: bold;
    letter-spacing: 3%;
    text-decoration: none;
    color: inherit;
    outline: none;
    -webkit-tap-highlight-color: transparent;
}

.navbar-logo-img {
    width: 32px;
    height: 32px;
    margin-right: 1rem;
}

.navbar-search {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 400px;
    margin: 0 auto;
}

.navbar-search-input {
    padding: 0.5rem 1rem;
    margin: auto;
    height: 1.5rem;
    width: 90%;
    border-radius: 10px;
    font-size: 1rem;
    border: none;
    background-color: var(--bg-input);
    color: var(--text);
}

.navbar-search-input:focus {
    outline: none;
    box-shadow: none;
}

.navbar-search-input::placeholder {
    color: var(--text-muted);
}

.navbar-search-button {
    background-color: var(--bg);
    color: var(--text);
    border: none;
    cursor: pointer;
    height: 2.5rem;
    border-radius: 10px;
    width: 10%;
    outline: none;
    -webkit-tap-highlight-color: transparent;
}

.navbar-search-icon {
    width: 100%;
    height: 100%;
    display: block;
}

.navbar-search-button:active {
    transform: scale(0.8);
    color: var(--color-accent);
}

.navbar-button {
    background-color: var(--bg);
    color: var(--text);
    border: none;
    font-size: 1rem;
    cursor: pointer;
    padding: 0.5rem 1rem;
    font-weight: 500;
    outline: none;
    -webkit-tap-highlight-color: transparent;
}

.navbar-button:active {
    transform: scale(0.8);
    color: var(--color-accent);
}

/* Hide by default */
.navbar-search,
.navbar-button {
    display: none;
}

/* ----------------------
        DESKTOP RULES
------------------------- */
@media (min-width: 769px) {
    /* Show Search and Button */
    .navbar-search,
    .navbar-button {
        display: flex;
    }
}

/* ----------------------
        MOBILE RULES
------------------------- */
@media (max-width: 768px) {

    /* Less padding and fixed heigth*/
    .navbar {
        padding: 0.5rem 1rem;
        height: 2rem;
    }

    /* Logo Centered */
    .navbar-logo {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }

    /* Show Hamburguer Button */
    .hamburger {
        display: flex;
        flex-direction: column;
        gap: 4px;
        background: none;
        border: none;
        cursor: pointer;
        outline: none;
        -webkit-tap-highlight-color: transparent;
    }

    .hamburger span {
        width: 22px;
        height: 3px;
        background-color: var(--text);
        border-radius: 2px;
    }

    .hamburger:active {
        transform: scale(0.8);
    }

    .hamburger:active span {
        background-color: var(--color-accent);
    }
}