.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 3rem;
    background-color: var(--bg);
    color: var(--text);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.navbar-logo {
    display: flex;
    align-items: center;
    font-size: 1.1rem;
    font-weight: bold;
    letter-spacing: 3%;
    text-decoration: none;
    color: inherit;
}

.navbar-logo-img {
    width: 32px;
    height: 32px;
    margin-right: 1rem;
}

.navbar-search {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 400px;
}

.navbar-search-input {
    padding: 0.5rem 1rem;
    margin: auto;
    height: 1.5rem;
    width: 90%;
    border-radius: 10px;
    font-size: 1rem;
    border: none;
    background-color: var(--bg-input);
    color: var(--text);
}

.navbar-search-input:focus {
    outline: none; /* Removes the default focus outline */
    box-shadow: none; /* Removes any box shadow */
}

.navbar-search-input::placeholder {
    color: var(--text-muted);
}

.navbar-search-button {
    background-color: var(--bg);
    color: var(--text);
    border: none;
    cursor: pointer;
    height: 2.5rem;
    border-radius: 10px;
    width: 10%;
}

.navbar-search-icon {
    width: 100%;
    height: 100%;
    display: block; /* avoids extra inline spacing */
}

.navbar-search-button:active {
    transform: scale(0.8);
    color: var(--color-accent);
}   

.navbar-button {
    background-color: var(--bg);
    color: var(--text);
    border: none;
    font-size: 1rem;
    cursor: pointer;
    padding: 0.5rem 1rem;
    font-weight: 500;
}

.navbar-button:active {
    transform: scale(0.8);
    color: var(--color-accent);
}  