:root {
  font-family: Roboto, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  /* Light Theme */
  --color-accent: #fd4400;
  --bg: #ffffff;
  --bg-input: #f3f4f6;
  --text: #000000;
  --text-muted: #475569;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[data-theme="dark"] {
  --color-accent: #fd4400;
  --bg: #0f172a;
  --bg-input: #1e293b;
  --text: #f8fafc;
  --text-muted: #94a3b8;
}

body {
  margin: 0;
  background-color: var(--bg);
  color: var(--text);
}

.text-accent {
  color: var(--color-accent);
}